# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/
*.db

# Node
node_modules/
frontend/node_modules/
package-lock.json
package.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML engine
data/
*.csv
*.zip
*.pkl
*.joblib
.ipynb_checkpoints/

# Collector
collector/output/*
!collector/output/.gitkeep
# Frontend bağımlılıklarının github'a gitmesi için (Dev dalı düzeltmesi)
!frontend/package.json
!frontend/package-lock.json

